@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  50% {
    transform: translateX(173%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  50% {
    transform: translateX(-173%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes pulseAfter {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.85;
  }
}


.animate-slideLeft {
  animation: slideInFromLeft 12s ease-out forwards,
             pulseAfter 3s ease-in-out infinite;
  animation-delay: 0s, 12s;
}


.animate-slideRight {
  animation: slideInFromRight 12s ease-out forwards,
             pulseAfter 3s ease-in-out infinite;
  animation-delay: 0s, 12s;
}
